<%= render "banner" %>
<% if current_user && current_user.role == 1   %>
	<div> 
    	<h3 style="text-align: center;"><%= link_to "CATEGORY", new_category_path, class: "glyphicon glyphicon-plus"%></h3>
    	<span><%=render "excel" %></span>
  	</div>
<%end%>
<%= will_paginate %>

<div class="table-users" style="margin-top: 70px;">
	   <div class="header">Categories</div>
	   
	   <table cellspacing="0">
	      <tr>
	         <th>Genre</th>
	         <th>Action</th>
	      </tr>

	     
	      	<%= render @categories  %>
	      
	   </table>
	</div>


<%= will_paginate %>  

